body {
    flex-wrap: wrap;
    width: 800px;
    display: flex;
    
     }
  
  blockquote::before {
    content: '”';
    font-size: 110px;
    position: relative;
    right: 0px;
    }
  #fej{
    object-fit: cover;
    height: 500px;
    width: 100%;
  }
  /*header {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 400px;
    background-image:
      url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
  } */
  h1 {
    font-size: 30px;
    color: #222;
    background-color: transparent;
    position: absolute;  
    top: 270px;
    left: 40px;
    line-height: 1;
   }
  #name {
    font-size: 50px;
  }
  aside {
    width: 41%;
    height: auto;
    position: relative;
     flex-direction: column;
    font-family: 'Abril Fatface', cursive;
    
  }
  
  
  main {
    
    width: 59%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 222;
    line-height: 1.5;
    
    
      }
  
  .quote {
    height: auto;
    margin: auto;
    color: white;
    position: relative;
    text-align: center;
    background: #565656;
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
    padding: auto;
    padding-bottom: 10px;
      }
  #q2 {
    margin-top: 350px;
  }
  #q3 {
    margin-top: 360px;
  }
  #Bio {
    padding: 30px;
  }
  #Achievements {
    padding: 0px 0px 0px 30px;
    margin-top: 100px;
  }
  #Experience {
    padding: 0px 0px 0px 30px;
    margin-top: 0px;
  }
  
  #Training {
    padding: 0px 0px 0px 30px;
    }
  
  
  
  
  h2 {
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    color: #222;
    margin-top: 50px;
    margin-bottom: 60px;
  }
  
  h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    color: #222;
    margin-bottom: 0;
  }
  
  p {
    font-family: 'Josefin Sans', sans-serif;
    color: #222;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  ul {
    font-family: 'Josefin Sans', sans-serif;
    color: #222;
    font-size: 20px;
    margin-bottom: 50px;
  }
  
  li {
    font-size: 16px;
    list-style-type: square;
    margin-bottom: 6px;
  }
  
  .subtitle {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    margin: 0px;
    font-weight: bold;
  }
  
  hr {
    height: 5px;
    background: #222;
  }
  /* első rész eddig*/
  blockquote:hover {
    color: blue;
    transform: scale(1.2)
  }
  
  .top-head {
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    height: 50 px;
    margin-left: auto;
    margin-right: auto;
      align-items: center;
    justify-content: center;
    background: black;
    width: 100%; 
    border-radius: 0px;
    
  }
  
  a{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    margin: auto;
    font-family: 'Abril Fatface', cursive;
  }
  a:hover {
    color: orange;
    transform: scale(1.3);
  }
  a:active {
    color: blue;
  }
  a:visited {
    color: red;
  }